extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae. Quam molestiae quod quaerat, commodi consequuntur necessitatibus amet omnis optio voluptatem?
					span Lorem ipsum dolor sit amet.
				a.boton Leer más
		main.contenido
			+caja('imagen.png',titulos[1], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.')
			+caja('imagen.png',titulos[2], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.')
			+caja('imagen.png',titulos[3], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.')
		
