.contenedor--home{
    height: 1200px;
    width: 1300px;
    margin: 0 auto;
    @include display-grid;
    @include grid-template-columns(1fr grid-repeate(3));
    @include grid-template-rows(1fr grid-repeate(3));
}