.articulos{
    width: 40%;
    padding: 50px 0 0 50px;
}

.articulo{
    margin-bottom: 75px;
    border-bottom: 3px solid $color-secundario;
    &__categoria{
        font-weight: 500;
        font-size: 16px;
        color: $color-secundario;
        @include titulos($Fuente2);
    }
    &__titulo{
        font-size: 20px;
        @include titulos($Fuente2);
    }
    &__descripcion{
        margin-bottom: 30px;
        padding-right: 100px;

    }
}