.estadistica--perfil{
    display: flex;
    width: 50%;
    height: 90px;
    padding: 15px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    @include caja;

    h3{
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        @include titulos($Fuente2);
    }
    span{
        font-size: 12px;
        text-align: center;
        @include titulos($Fuente2);
    }
}