$Fuente1: 'Lato',sans-serif;
$Fuente2: 'Oswald',sans-serif;
$Color-primario: #333333 ;
$Color-claro:#FFFFFF ;
$Color-secundario:#8841DA;
$Color-variacion:#3f579a;

@mixin caja {
    border-radius: 20px;
    box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.50);
    color: $Color-primario;
    background-color: $Color-claro;
}

@mixin titulos ($fuente) {
    @if $fuente==$Fuente1 {
        font-family: $Fuente1;
    } @else{
        font-family: $Fuente2;
        text-transform: uppercase;
    }
}

@function get-opacity($color, $porcentaje){
    @return rgba($color,$porcentaje);
}



@each $header, $size in (h1: 30px, h2: 25px, h3: 20px){
    #{$header}{
        font-size: $size;
        margin: 0;
    }
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    @include titulos($Fuente1);
}

main{
    display: flex;
    width: 100%;
    height: 100vh;
}