.buscador
    width: 100%
    height 250px
    padding: 100px
    background-image: url("../images/cover.jpg")
    background-size: cover
    text-align: center
    &__input
        width: 75%
        height: 60px
        padding: 20px
        border: none
        border-radius: 30px
        font-size: 25px