
.contenido
    margin-bottom: 40px
    justify-content: space-evenly
    contenedor()

.caja
    max-width: 430px
    caja-sombra()
    &__contenido
        padding: 20px
        background-color: Color-claro
        span
            color: Color-secundario
            titulos(Fuente2)
        h3
            titulos(Fuente2)