.encabezado--con-filtros
    contenedor()
    h2
        margin-top: 10px
        font-size: 50px
        titulos(Fuente2)
    .filtros
        width: 250px
        height: 75px
        padding: 20px
        margin-left: auto
        caja-sombra()
        span
            titulos(Fuente2)
        a
            margin-left: 20px
            font-size: 25px
            color: Color-primario