* {
  box-sizing: border-box;
}
body {
  margin: 0;
<<<<<<< HEAD
  font-family: 'Lato', sans-serif;
  color: #333333;
=======
  font-family: 'Latto', sans-serif;
>>>>>>> d55113ccaec6d2712409faa3d2ebd28ab82e5ca0
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.intro {
  width: 1340px;
  height: 650px;
  padding: 0 auto;
  position: relative;
}
.intro__imagen {
  width: 1320px;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
<<<<<<< HEAD
  color: #FFFFFF;
=======
  color: #FFF;
>>>>>>> d55113ccaec6d2712409faa3d2ebd28ab82e5ca0
}
.intro__categoria {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
<<<<<<< HEAD
  color: rgba(255, 255, 255, 0.5);
=======
>>>>>>> d55113ccaec6d2712409faa3d2ebd28ab82e5ca0
}
.intro__titulo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
<<<<<<< HEAD
  color: #FFFFFF;
=======
  color: #FFF;
>>>>>>> d55113ccaec6d2712409faa3d2ebd28ab82e5ca0
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
}
<<<<<<< HEAD
.articulo--principal {
  max-width: 660px;
  margin: 0 auto;
}
.articulo--principal h2 {
  margin: 40px 0;
  font-size: 50px;
  text-align: center;
}
.articulo--principal h3 {
  color: #8831da;
}
=======
>>>>>>> d55113ccaec6d2712409faa3d2ebd28ab82e5ca0
