.articulo--principal{
    max-width: 660px;
    margin: 0 auto;
    &__intro{
        font-size: @Fuente-base + 8%;
    }
    h2{
        margin: 40px 0;
        font-size: 50px;
        text-align: center;
    }
    h3{
        color: @color-secundario;
    }

}

