.contenedor--cajas{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
}

.caja{
    max-width: 430px;
    &__contenido{
        padding: 25px;
        background-color: @color-claro;
    }
    span{
        color: @color-secundario;
    }
    a{
        text-decoration: none;
        color: @color-variacion;
        .Oswald;
    }
}