extend componentes/plantillas.pug
block contenidos
	.buscador: form: input(type="text" placeholder="Playstation" class="buscador__input")
	header.encabezado--con-filtros
		h2 20 Resultados para "Playstation"
		.filtros
			span Filtrar Por
			a(href="#" class="fa fa-th-large")
			a(href="#" class="fa fa-bars")
	section.contenido
		+caja--estadistica("apex.jpg", "Video", "Apex Legends Temporada 2: un nuevo trailer muestra cambios al mapa", "Dos nuevos trailers de Apex Legends muestran lo que nos espera en la Temporada 2 del battle royale de Respawn.")
		+caja--estadistica("crash.jpg", "Video", "Ya salio la reseña de Crash Team Racing Nitro Fueled", "Veinte años después del lanzamiento del original, Crash Team Racing ha recibido un remake total que logra mantener todos los aspectos originales.")
		+caja--estadistica("final-fantasy.jpg", "Video", "Final Fantasy XIV recibirá una serie live-action en televisión ", "Final Fantasy XIV Online recibirá una adaptación aTV de parte de Square Enix con Sony Pictures Television y Hivemind.")
			